label {
    display: inline-block;

    clear: left;
    width: 75px;
    text-align: right;
}

input {
    display: inline-block;
    margin: 10px;

}

select {
    display: inline-block;
    margin: 10px;
}

.sex {
    display: inline-block;
    margin: 10px;
    align-self: right;
}